p {
    text-align: center;
    color: rgb(0, 255, 0);
	font-size: 15px;
}

nav {
    background-color: rgb(0, 255, 0);
	border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 0 50px;
}

body {
    background-color: black;
}

li {
    text-align: center;
    list-style-type: none;
}

a {
	font-size: 16px;
	color: black;
}

@media only screen and (min-width: 600px) {
	a {
		font-size: 20px;
	}
	
	p {
		font-size: 18px;
	}
}

@media only screen and (min-width: 768px) {
	a {
		font-size: 24px;
	}
	
	p {
		font-size: 22px;
	}
}

@media only screen and (min-width: 1200px) {
	a {
		font-size: 32px;
	}
	
	p {
		font-size: 28px;
	}
}