p {
    text-align: center;
    color: rgb(0, 255, 0);
}

div {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 50px;
	overflow: hidden;
}
.aktualne {
	background-color: DarkSeaGreen;
}
body {
    background-image: url("image.png");
	background-color: #cccccc;
	background-repeat: repeat;
	background-size: cover;
	backface-visibility: 90%;
}
.vyber:hover {
	background-color: ForestGreen;
}
li {
    text-align: center;
	display: inline-block;
    list-style-type: none;
	width: 15%;
	padding: 25px;
	padding-border-radius: 5px;
	background-color: DarkGreen;
}
a {
	color: black;
	text-decoration: none;
	font-size:120%
}
article {
	float: left;
	padding: 20px;
	width: 80%;
	background-color: #f1f1f1;
	height: 300px; 
	}
	p {
		font-size: 28px;
	}
}
