
@font-face{
	src: url(SteampunkMachineryFont-Regular.ttf);
	
}
p {
    text-align: center;
    color: black;
}

div {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 50px;
	overflow: hidden;
}
.aktualne {
	background-color: LightCyan;
	opacity: 0.5;
}
body {
	background-color: #cccccc;
	background-repeat: repeat;
	background-size: cover;
	backface-visibility: 90%;
	z-index: -1;
}
.vyber:hover {
	background-color: LightCyan;
	opacity: 0.5;
}
.prvni {
	/*border-left: 5px solid SkyBlue;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	overflow: hidden;*/
}
.prvni:hover {
	/*border-left: 5px solid LightBlue;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	overflow: hidden;*/
}
.posledni{
	box-shadow: 20px 0px 0px -10px grey;
}
li a {
	display: block;     
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 100%;
    padding: 30px 0;  
}
a {
	font-family: "Steampunk Machinery Font", serif;
}
li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    width: 15%;
	border: 1px solid black;
    /*background-color: SkyBlue;*/
    padding: 0;   
}
article {
	float: left;
	padding: 20px;
	width: 80%;
	background-color: #f1f1f1;
	height: 300px; 
	}
.parent {
    text-align: center;
}
.heading{
	text-align: center;
	display: inline-block;	
	font-size:400%;
	border: 2px solid black;
	border-radius: 10px;
	font-family: "Steampunk Machinery Font", serif;
}