
p {
    text-align: center;
    color: black;
}

div {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 50px;
	overflow: hidden;
}
.aktualne {
	background-color: LightCyan;
}
body {
    background-image: url("image.png");
	background-color: #cccccc;
	background-repeat: repeat;
	background-size: cover;
	backface-visibility: 90%;
}
.vyber:hover {
	background-color: LightBlue;
}
.prvni {
	box-shadow: 0 4px 8px grey;
}
.posledni{
	box-shadow: 20px 0px 0px -10px grey;
}
li a {
	display: block;     
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 100%;
    padding: 25px 0;  
}
a {
    font-weight: bold;    
}
li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    width: 15%;
    background-color: SkyBlue;
    padding: 0;   
}
article {
	float: left;
	padding: 20px;
	width: 80%;
	background-color: #f1f1f1;
	height: 300px; 
	}